body {
    background-image: url(images/bg1.jpg);
    background-repeat: repeat;
    margin: 0;
    animation-name: colorchange;
    animation-duration: 15s;
    animation-delay: 3s;
    animation-iteration-count: infinite;
    -ms-user-select: none; 
    -moz-user-select: -moz-none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}
@keyframes colorchange {
    from {background-image:url(images/bg1.jpg);}
    30% {background-image: url(images/bg11.jpg);}
    60% {background-image: url(images/bg9.jpg);}
    to{background-image: url(images/bg1.jpg);}

}
a:link, a:visited {
    color:#ffd000;
    text-decoration: none;
}
@media screen and (max-width:2500px) {
      #main_index {
        width:50%;
        float:left;
        margin: 0;
        height: 700px;
        }
        #aboutme {
            width:100%;
            float:left;
            margin: 0;
            background-color: #CCC;
            opacity: 0.6;
        }
        #startport {
            width:40%;
            float:left;
            margin: 0;
            } 
        #firstslide {
            width:60%;
            float:left;
            margin: 0;
            }              
    ul {
        list-style: none;
    }    
    .myname {
        padding-top:150px;
        color:#ffd000;
    }
    .name, .nameunder {
        font-family: 'Black Han Sans', sans-serif;
    }
    .name {
        font-size: 3.5em;
    }
    .nameunder {
        font-size: 2.7em;
    }
    .iconnav {
        position: fixed;
        top:5px;
        right:20px;
        z-index: 1;
    }
    .iconnav li {
        display: inline-block;
        padding-right: 1.2em;
        color:#ffd000;
        font-family: 'Black Han Sans', sans-serif;
        font-size: 21px;
    }
    .iconnav img {
        padding-right: 0.2em;
    }
    .iconnav img:hover {
        transform:scale(1.3);
        transition: 1s;
    }

    .upbotton {
        position: absolute;
    }
    .upbotton img {
        position: fixed;
        bottom:40px;
        right:2.7em;
    }
    /*ABOUT ME*/
    .aboutme_ex {
        font-family: 'Noto Sans KR', sans-serif;
        color: rgb(42, 15, 77);
        text-align: center;
        line-height: 1;
        padding: 80px 10px;
        font-size: small;
    }
 
    .big_big_sub {
        font-family: 'Black Han Sans', sans-serif;
        font-size: 4em;
    }
    .big_sub {
        font-weight: bolder;
        font-size: 1.4em;
    }
    
    /*SKILL*/
    #skill {
        float: left;
        width:100%;
        background-color: white;
        font-family: 'Black Han Sans', sans-serif;
        font-weight: lighter;
        opacity: 0.8;
    }
    #skill p {
        font-size: 40px;
        font-family: 'Black Han Sans', sans-serif;
    }
    .cando {
        font-family: 'Noto Sans KR', sans-serif;
        font-size: 20px;
    }
    #master {   
        font-size: 60px;
        line-height: 1;
        font-weight: bold;
        letter-spacing: 0;
        -webkit-font-smoothing: inherit
    }
    .point {font-size: 70px;}
  
    #master {
        text-rendering: optimizeLegibility
    }
  
    #master-container {
        background-color: #F5C59C;
        -webkit-animation: master-container-bg 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
        animation: master-container-bg 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        height: 700px;
        min-height: 0;
        max-height: 100%;
        padding-left:20px;
    }
  
    #master-container .content {
        height: auto;
        margin-left: inherit;
        margin-right: inherit
    }
  
    @media screen and (max-width: 615px) {
        #master-container {
            -webkit-animation: master-container-bg-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: master-container-bg-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
        }
    }
  
    @media screen and (max-width: 615px) {
        #master {
            font-size: 40px;
            font-line: 1.2
        }
    }
  
    #master-container-scroller {
        height: 66px;
        margin-bottom: -6px;
        overflow: hidden;
        position: relative
    }
  
    #master-container-scroller .master-container-scroller_item {
        display: block;
        padding-bottom: 6px;
        -webkit-animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
        animation: scroll 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
    }
  
    #master-container-scroller .master-container-scroller_item[href]:hover {
        text-decoration: underline
    }
  
    #master-container-scroller .master-container-scroller_item:nth-child(1),
    #master-container-scroller .master-container-scroller_item:nth-child(1) a {
        color: #564a9c;
    }
  
    #master-container-scroller .master-container-scroller_item:nth-child(2),
    #master-container-scroller .master-container-scroller_item:nth-child(2) a {
        color: #397283;
    }
  
    #master-container-scroller .master-container-scroller_item:nth-child(3),
    #master-container-scroller .master-container-scroller_item:nth-child(3) a {
        color: #427533;
    }
  
    #master-container-scroller .master-container-scroller_item:nth-child(4),
    #master-container-scroller .master-container-scroller_item:nth-child(4) a {
        color: #84719f
    }
  
    #master-container-scroller .master-container-scroller_item:nth-child(5),
    #master-container-scroller .master-container-scroller_item:nth-child(5) a {
        color: #ea0530;
    }
  
    #master-container-scroller .master-container-scroller_item:nth-child(6),
    #master-container-scroller .master-container-scroller_item:nth-child(6) a {
        color: #cf6819
    }
  
    #master-container-scroller .master-container-scroller_item:nth-child(7),
    #master-container-scroller .master-container-scroller_item:nth-child(7) a {
        color: #28537d;
    }
    #master-container-scroller .master-container-scroller_item:nth-child(8),
    #master-container-scroller .master-container-scroller_item:nth-child(8) a {
        color: #d27f57;
    }

  
    @media screen and (max-width: 615px) {
        #master-container-scroller {
            height: 48px;
            line-height: 1.2;
            margin-bottom: 0
        }
        #master-container-scroller .master-container-scroller_item {
            padding-bottom: 0;
            -webkit-animation: scroll-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
            animation: scroll-mobile 15s cubic-bezier(0.645, 0.045, 0.355, 1) infinite
        }
    }
  
    #master-container-grid .master-container-grid_item:nth-child(1) .grid_item-overlay {
        background-color: rgba(182, 178, 177, 0.9)
    }
  
    @media screen and (max-width: 520px) {
        #master-container-grid .master-container-grid_item:nth-child(1) .grid_item-overlay .link:hover {
            color: #E65F48
        }
    }
  
    #master-container-grid .master-container-grid_item:nth-child(2) .grid_item-overlay {
        background-color: rgba(198, 177, 199, 0.9)
    }
  
    @media screen and (max-width: 520px) {
        #master-container-grid .master-container-grid_item:nth-child(2) .grid_item-overlay .link:hover {
            color: #E65F48
        }
    }
  
    #master-container-grid .master-container-grid_item:nth-child(3) .grid_item-overlay {
        background-color: rgba(118, 188, 173, 0.9)
    }
  
    @media screen and (max-width: 520px) {
        #master-container-grid .master-container-grid_item:nth-child(3) .grid_item-overlay .link:hover {
            color: #76BCAD
        }
    }
  
    #master-container-grid .master-container-grid_item:nth-child(4) .grid_item-overlay {
        background-color: rgba(132, 113, 159, 0.9)
    }
  
    @media screen and (max-width: 520px) {
        #master-container-grid .master-container-grid_item:nth-child(4) .grid_item-overlay .link:hover {
            color: #84719f
        }
    }
  
    #master-container-grid .master-container-grid_item:nth-child(5) .grid_item-overlay {
        background-color: rgba(207, 141, 152, 0.9)
    }
  
    @media screen and (max-width: 520px) {
        #master-container-grid .master-container-grid_item:nth-child(5) .grid_item-overlay .link:hover {
            color: #d47787
        }
    }
  
    #master-container-grid .master-container-grid_item:nth-child(6) .grid_item-overlay {
        background-color: rgba(233, 184, 146, 0.9)
    }
  
    @media screen and (max-width: 520px) {
        #master-container-grid .master-container-grid_item:nth-child(6) .grid_item-overlay .link:hover {
            color: #F09551
        }
    }
  
    #master-container-grid .master-container-grid_item:nth-child(7) .grid_item-overlay {
        background-color: rgba(174, 204, 212, 0.9)
    }
  
    @media screen and (max-width: 520px) {
        #master-container-grid .master-container-grid_item:nth-child(7) .grid_item-overlay .link:hover {
            color: #349AB5
        }
    }
  
    #master-container-grid .master-container-grid_item:nth-child(8) .grid_item-overlay {
        background-color: rgba(230, 152, 134, 0.9)
    }
  
    @media screen and (max-width: 520px) {
        #master-container-grid .master-container-grid_item:nth-child(8) .grid_item-overlay .link:hover {
            color: #e86042;
        }
    }
  
 
    #master-container-grid .master-container-grid_item .img {
        position: relative
    }
  
    #master-container-grid .master-container-grid_item .grid_item-overlay {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
        -webkit-justify-content: center;
        -ms-flex-pack: center;
        justify-content: center;
        font-size: 26px;
        font-weight: bold;
        color: #fff;
        opacity: 0;
        transition: opacity .3s ease-in-out;
        text-decoration: none
    }
  
    #master-container-grid .master-container-grid_item .grid_item-overlay:hover {
        opacity: 1
    }
  
    #master-container-grid .master-container-grid_item .grid_item-overlay .link {
        display: inline-block;
        box-shadow: 0 1px 0 0 #fff, inset 0 0 0 #fff;
        transition: box-shadow .2s ease
    }
  
    #master-container-grid .master-container-grid_item .grid_item-overlay .link:hover {
        box-shadow: 0 2px 0 0 #fff, inset 0 -1px 0 0 #fff
    }
  
    @media screen and (max-width: 520px) {
        #master-container-grid .master-container-grid_item {
            margin-bottom: 18px
        }
        #master-container-grid .master-container-grid_item .grid_item-overlay {
            position: relative;
            background: none !important;
            color: #3a3a3a;
            opacity: 1;
            display: block;
            margin-top: 18px;
            text-align: left
        }
        #master-container-grid .master-container-grid_item .grid_item-overlay .link {
            box-shadow: none
        }
        #master-container-grid .master-container-grid_item .grid_item-overlay .link:hover {
            text-decoration: underline
        }
    }
  
    @-webkit-keyframes master-container-bg {
        0.0% {
            background-color: #F5C59C
        }
        3.7037037037037037% {
            background-color: #F5C59C
        }
        11.11111111111111% {
            background-color: #ECC9CB
        }
        14.814814814814815% {
            background-color: #ECC9CB
        }
        22.22222222222222% {
            background-color: #D9E2CB
        }
        25.925925925925927% {
            background-color: #D9E2CB
        }
        33.333333333333336% {
            background-color: #f6c599
        }
        37.03703703703704% {
            background-color: #f6c599
        }
        44.44444444444444% {
            background-color: #c4bbd3
        }
        48.148148148148145% {
            background-color: #c4bbd3
        }
        55.55555555555556% {
            background-color: #F9E7AF
        }
        59.25925925925926% {
            background-color: #F9E7AF
        }
        66.66666666666667% {
            background-color: #B4E2EE
        }
        70.37037037037037% {
            background-color: #B4E2EE
        }
        77.77777777777777% {
            background-color: #cbe5f4
        }
        81.48148148148148% {
            background-color: #cbe5f4
        }
        100.0% {
            background-color: #F5C59C
        }
    }
  
    @keyframes master-container-bg {
        0.0% {
            background-color: #F5C59C
        }
        3.7037037037037037% {
            background-color: #F5C59C
        }
        11.11111111111111% {
            background-color: #ECC9CB
        }
        14.814814814814815% {
            background-color: #ECC9CB
        }
        22.22222222222222% {
            background-color: #D9E2CB
        }
        25.925925925925927% {
            background-color: #D9E2CB
        }
        33.333333333333336% {
            background-color: #f6c599
        }
        37.03703703703704% {
            background-color: #f6c599
        }
        44.44444444444444% {
            background-color: #c4bbd3
        }
        48.148148148148145% {
            background-color: #c4bbd3
        }
        55.55555555555556% {
            background-color: #F9E7AF
        }
        59.25925925925926% {
            background-color: #F9E7AF
        }
        66.66666666666667% {
            background-color: #B4E2EE
        }
        70.37037037037037% {
            background-color: #B4E2EE
        }
        77.77777777777777% {
            background-color: #cbe5f4
        }
        81.48148148148148% {
            background-color: #cbe5f4
        }
        100.0% {
            background-color: #F5C59C
        }
    }
  
    @-webkit-keyframes master-container-bg-mobile {
        0.0% {
            background-color: #F5C59C
        }
        3.7037037037037037% {
            background-color: #F5C59C
        }
        11.11111111111111% {
            background-color: #ECC9CB
        }
        14.814814814814815% {
            background-color: #ECC9CB
        }
        22.22222222222222% {
            background-color: #D9E2CB
        }
        25.925925925925927% {
            background-color: #D9E2CB
        }
        33.333333333333336% {
            background-color: #f6c599
        }
        37.03703703703704% {
            background-color: #f6c599
        }
        44.44444444444444% {
            background-color: #c4bbd3
        }
        48.148148148148145% {
            background-color: #c4bbd3
        }
        55.55555555555556% {
            background-color: #F9E7AF
        }
        59.25925925925926% {
            background-color: #F9E7AF
        }
        66.66666666666667% {
            background-color: #B4E2EE
        }
        70.37037037037037% {
            background-color: #B4E2EE
        }
        77.77777777777777% {
            background-color: #cbe5f4
        }
        81.48148148148148% {
            background-color: #cbe5f4
        }
        100.0% {
            background-color: #F5C59C
        }
    }
  
    @keyframes master-container-bg-mobile {
        0.0% {
            background-color: #F5C59C
        }
        3.7037037037037037% {
            background-color: #F5C59C
        }
        11.11111111111111% {
            background-color: #ECC9CB
        }
        14.814814814814815% {
            background-color: #ECC9CB
        }
        22.22222222222222% {
            background-color: #D9E2CB
        }
        25.925925925925927% {
            background-color: #D9E2CB
        }
        33.333333333333336% {
            background-color: #f6c599
        }
        37.03703703703704% {
            background-color: #f6c599
        }
        44.44444444444444% {
            background-color: #c4bbd3
        }
        48.148148148148145% {
            background-color: #c4bbd3
        }
        55.55555555555556% {
            background-color: #F9E7AF
        }
        59.25925925925926% {
            background-color: #F9E7AF
        }
        66.66666666666667% {
            background-color: #B4E2EE
        }
        70.37037037037037% {
            background-color: #B4E2EE
        }
        77.77777777777777% {
            background-color: #cbe5f4
        }
        81.48148148148148% {
            background-color: #cbe5f4
        }
        100.0% {
            background-color: #F5C59C
        }
    }
  
    @-webkit-keyframes scroll {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }
        3.7037037037037037% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }
        11.11111111111111% {
            -webkit-transform: translateY(-66px);
            transform: translateY(-66px)
        }
        14.814814814814815% {
            -webkit-transform: translateY(-66px);
            transform: translateY(-66px)
        }
        22.22222222222222% {
            -webkit-transform: translateY(-132px);
            transform: translateY(-132px)
        }
        25.925925925925927% {
            -webkit-transform: translateY(-132px);
            transform: translateY(-132px)
        }
        33.333333333333336% {
            -webkit-transform: translateY(-198px);
            transform: translateY(-198px)
        }
        37.03703703703704% {
            -webkit-transform: translateY(-198px);
            transform: translateY(-198px)
        }
        44.44444444444444% {
            -webkit-transform: translateY(-264px);
            transform: translateY(-264px)
        }
        48.148148148148145% {
            -webkit-transform: translateY(-264px);
            transform: translateY(-264px)
        }
        55.55555555555556% {
            -webkit-transform: translateY(-330px);
            transform: translateY(-330px)
        }
        59.25925925925926% {
            -webkit-transform: translateY(-330px);
            transform: translateY(-330px)
        }
        66.66666666666667% {
            -webkit-transform: translateY(-396px);
            transform: translateY(-396px)
        }
        70.37037037037037% {
            -webkit-transform: translateY(-396px);
            transform: translateY(-396px)
        }
        77.77777777777777% {
            -webkit-transform: translateY(-462px);
            transform: translateY(-462px)
        }
        81.48148148148148% {
            -webkit-transform: translateY(-462px);
            transform: translateY(-462px)
        }
        100.0% {
            -webkit-transform: translateY(-594px);
            transform: translateY(-594px)
        }
    }
  
    @keyframes scroll {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }
        3.7037037037037037% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }
        11.11111111111111% {
            -webkit-transform: translateY(-66px);
            transform: translateY(-66px)
        }
        14.814814814814815% {
            -webkit-transform: translateY(-66px);
            transform: translateY(-66px)
        }
        22.22222222222222% {
            -webkit-transform: translateY(-132px);
            transform: translateY(-132px)
        }
        25.925925925925927% {
            -webkit-transform: translateY(-132px);
            transform: translateY(-132px)
        }
        33.333333333333336% {
            -webkit-transform: translateY(-198px);
            transform: translateY(-198px)
        }
        37.03703703703704% {
            -webkit-transform: translateY(-198px);
            transform: translateY(-198px)
        }
        44.44444444444444% {
            -webkit-transform: translateY(-264px);
            transform: translateY(-264px)
        }
        48.148148148148145% {
            -webkit-transform: translateY(-264px);
            transform: translateY(-264px)
        }
        55.55555555555556% {
            -webkit-transform: translateY(-330px);
            transform: translateY(-330px)
        }
        59.25925925925926% {
            -webkit-transform: translateY(-330px);
            transform: translateY(-330px)
        }
        66.66666666666667% {
            -webkit-transform: translateY(-396px);
            transform: translateY(-396px)
        }
        70.37037037037037% {
            -webkit-transform: translateY(-396px);
            transform: translateY(-396px)
        }
        77.77777777777777% {
            -webkit-transform: translateY(-462px);
            transform: translateY(-462px)
        }
        81.48148148148148% {
            -webkit-transform: translateY(-462px);
            transform: translateY(-462px)
        }
        100.0% {
            -webkit-transform: translateY(-594px);
            transform: translateY(-594px)
        }
    }
  
    @-webkit-keyframes scroll-mobile {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }
        3.7037037037037037% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }
        11.11111111111111% {
            -webkit-transform: translateY(-48px);
            transform: translateY(-48px)
        }
        14.814814814814815% {
            -webkit-transform: translateY(-48px);
            transform: translateY(-48px)
        }
        22.22222222222222% {
            -webkit-transform: translateY(-96px);
            transform: translateY(-96px)
        }
        25.925925925925927% {
            -webkit-transform: translateY(-96px);
            transform: translateY(-96px)
        }
        33.333333333333336% {
            -webkit-transform: translateY(-144px);
            transform: translateY(-144px)
        }
        37.03703703703704% {
            -webkit-transform: translateY(-144px);
            transform: translateY(-144px)
        }
        44.44444444444444% {
            -webkit-transform: translateY(-192px);
            transform: translateY(-192px)
        }
        48.148148148148145% {
            -webkit-transform: translateY(-192px);
            transform: translateY(-192px)
        }
        55.55555555555556% {
            -webkit-transform: translateY(-240px);
            transform: translateY(-240px)
        }
        59.25925925925926% {
            -webkit-transform: translateY(-240px);
            transform: translateY(-240px)
        }
        66.66666666666667% {
            -webkit-transform: translateY(-288px);
            transform: translateY(-288px)
        }
        70.37037037037037% {
            -webkit-transform: translateY(-288px);
            transform: translateY(-288px)
        }
        77.77777777777777% {
            -webkit-transform: translateY(-336px);
            transform: translateY(-336px)
        }
        81.48148148148148% {
            -webkit-transform: translateY(-336px);
            transform: translateY(-336px)
        }
        100.0% {
            -webkit-transform: translateY(-432px);
            transform: translateY(-432px)
        }
    }
  
    @keyframes scroll-mobile {
        0.0% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }
        3.7037037037037037% {
            -webkit-transform: translateY(0px);
            transform: translateY(0px)
        }
        11.11111111111111% {
            -webkit-transform: translateY(-48px);
            transform: translateY(-48px)
        }
        14.814814814814815% {
            -webkit-transform: translateY(-48px);
            transform: translateY(-48px)
        }
        22.22222222222222% {
            -webkit-transform: translateY(-96px);
            transform: translateY(-96px)
        }
        25.925925925925927% {
            -webkit-transform: translateY(-96px);
            transform: translateY(-96px)
        }
        33.333333333333336% {
            -webkit-transform: translateY(-144px);
            transform: translateY(-144px)
        }
        37.03703703703704% {
            -webkit-transform: translateY(-144px);
            transform: translateY(-144px)
        }
        44.44444444444444% {
            -webkit-transform: translateY(-192px);
            transform: translateY(-192px)
        }
        48.148148148148145% {
            -webkit-transform: translateY(-192px);
            transform: translateY(-192px)
        }
        55.55555555555556% {
            -webkit-transform: translateY(-240px);
            transform: translateY(-240px)
        }
        59.25925925925926% {
            -webkit-transform: translateY(-240px);
            transform: translateY(-240px)
        }
        66.66666666666667% {
            -webkit-transform: translateY(-288px);
            transform: translateY(-288px)
        }
        70.37037037037037% {
            -webkit-transform: translateY(-288px);
            transform: translateY(-288px)
        }
        77.77777777777777% {
            -webkit-transform: translateY(-336px);
            transform: translateY(-336px)
        }
        81.48148148148148% {
            -webkit-transform: translateY(-336px);
            transform: translateY(-336px)
        }
        100.0% {
            -webkit-transform: translateY(-432px);
            transform: translateY(-432px)
        }
    }



    /*work*/
    .work {
        text-align: center;
        color:#ffd000;
        font-size: 3.8em;
        font-family: 'Black Han Sans', sans-serif;
    }
    .work p {
        padding-top:50%;
    }

    /*슬라이드*/
    .slideBoxWrap	{
    width:100%;
    display:block;
    overflow:hidden;
    }
    #carouselWrapper {
    width:100%;
    margin:0;
    padding:0;
    overflow:hidden;
    }
    .sliderBoxDesc {
    position:relative;
    width:100%;
    }
    .scrollerBox {
    position:relative;
    top:0;
    left:0;
    width:100%;
    float:left;
    }
    .scrollerBox ul {
    list-style:none;
    position:relative;
    display:block;
    margin:0;
    padding:0;
    top:0;
    left:0;
    width:100%;
    }
    .scrollerBox li {
    display:block;
    float:left;
    padding:0px 0px 0px 0px;
    }
    .scrollerBox li img {
    width:100%;
    border:0px;
    }

    .sliderNav {
        width:100%;
        z-index:100;
        text-align:center;
        font-size:12px;
        color:#B4B4B4;
        position: absolute;
        bottom:10px;
    }
    .sliderNav a {
        margin:0px 5px 0px 5px;
        color:#B4B4B4;
        text-decoration:none;}

    /*info*/    
    #footer {
        width:100%;
        clear: left;
        background-image: url(images/bg2.jpg);
        margin: 0;
    }

    .info {
        text-align: center;
        padding:100px 10px;
        font-family: 'Noto Sans KR', sans-serif;
        color: #2a0f4d;
        font-size: small;
    }
    .info img:hover {
        transform: scale(1.2);
        transition: 1s;
    }

}

/*스크린 조정*/
@media screen and (max-width:800px) {
    #firstslide {
        width:100%;
        margin-top:40px;
        padding-top:70px;
    }

    #startport {
        width:100%;
        height: 130px;
    }
    .scrollerBox {
    width: 100%;
    float:left;
    justify-content: center;
    }
    .myname ul {
        padding-top: 50px;
    }
    .name {
        line-height: 1;
        padding-bottom: 20px;
    }
    .iconnav {
        position: fixed;
    }
    .iconnav li{
        text-align: center;
        padding:10px;
    }
    .work p {
        padding-top:80px;
    }

}


@media screen and (max-width:320px) {
    #firstslide {
        width:100%;
        margin-top:40px;
        padding-top:70px;
    }

    #startport {
        width:100%;
        height: 130px;
    }
    .scrollerBox {
    width: 100%;
    float:left;
    justify-content: center;
    }
    .myname ul {
        padding-top: 50px;
    }
    .name {
        line-height: 1;
        padding-bottom: 20px;
    }
    .iconnav {
        position: fixed;
    }
    .iconnav li{
        text-align: center;
        padding:10px;
    }
    .work p {
        padding:80px;
    }

}